@use "../../../src/colors.module.scss";

.list{
    line-height: 1.6;
}

.subObject{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 0.5rem;
    border-left: 1px solid colors.$main-borders-color;
    padding-left: 0.5rem;
}

.errorMessage{
    color: colors.$error;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.subLink{
    cursor: pointer;
    text-decoration: underline;
}