Django==5.1.7
djangorestframework==3.15.2
django-extensions~=3.2.3
celery[redis]==5.4.0
psycopg2~=2.9.3
Faker~=13.6.0
GitPython~=3.1.27
radon~=5.1.0
flower~=1.0.0
PyGithub~=1.55
lizard~=1.17.10
factory-boy~=3.2.1
django-filter~=21.1
requests~=2.27.1
beautifulsoup4~=4.9.3
django-cors-headers~=3.11.0
djangorestframework-api-key~=2.2.0
channels==4.1.0
channels-redis==4.0.0
djangochannelsrestframework==1.3.0
django-health-check~=3.18.3
psutil~=5.9.4
nltk
textstat==0.7.3

# Currently unused/useful for later:
# django-redis

# django-celery-beat==2.1.0
# django-celery-results
# websockets

# Development tools:
black~=22.3.0
isort~=5.10.1
flake8~=4.0.1
pre-commit~=2.18.1
pyupgrade~=3.3.1
gitlint

# Testing
pytest~=7.1.2
pytest-mock~=3.7.0
pytest-unordered~=0.4.1
pytest-django~=4.5.2
pytest-asyncio~=0.18.3

whitenoise==6.9.0
