paho_mqtt
bitstring

Django
djangorestframework
django-cors-headers
django-celery-beat==2.1.0
django-celery-results
websockets
SQLAlchemy
celery
redis
channels
channels-redis
django-redis
psycopg2
Faker

gunicorn
uvicorn

requests
time-machine