@use '../../../colors.module.scss';

.userWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;

  a:link { text-decoration: none; }

  a:visited { text-decoration: none; }

  a:hover { text-decoration: none; }

  a:active { text-decoration: none; }
}

.userName {
  font-weight: bold;
}

.userIcon {
    img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
}

.userWrapper .loginButton {
  width: max-content;
  padding: 0.25rem 0.5rem;
  color: colors.$frege-color;
  border: 1px solid colors.$frege-color;
}

.loginButton{
  width: max-content;
  padding: 0.25rem 0.5rem;
  color: colors.$frege-color;
  border: 1px solid colors.$frege-color;
}
