@import '../../colors.module';

.modal {
  background-color: $background-color;
  color: $button-font-color;
  border: $main-color 1px solid;
  border-radius :10px
}

.button {
  width: 80px;
  height: 40px;
}