@import "../../src/colors.module.scss";

.coordinators {
  ul {
    margin-bottom: 40px;
    padding-top: 15px;
    list-style-type: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }

  li {
    margin-bottom: 5px;
    font-size: larger;
  }
}
