@use '../../../colors.module';

.sessionsWrapper {
    .errorMessage{
        color: colors.$error;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .sessionsList {
        display: grid;
        grid-row-gap: 1rem;
        grid-column-gap: 0.5rem;
        grid-template-columns: repeat(8, max-content) 1fr;

        .sessionHeader{
            font-weight: bold;
            font-size: larger;
        }
    }
}