@import '../../../colors.module';

.usersWrapper {
    .actionsRow{
        .pageSelector{
            border: none;
            border: 1px $main-color solid;
            background: transparent;
            color: $main-color;
            border-radius: 5px;
            height: 30px;
            padding: 0 0.5rem;
            width: 6rem;
        }
    }

    .errorMessage{
        color: $error;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .usersList {
        display: grid;
        grid-row-gap: 1rem;
        grid-column-gap: 0.5rem;
        grid-template-columns: min-content min-content max-content min-content min-content 1fr;

        .userHeader{
            font-weight: bold;
            font-size: larger;
        }
    }
}