@import '../../../colors.module';

.personIcon{
    display: flex;
    align-items: center;

    svg{
        width: 2rem;
        height: 2rem;
    }
}

.personInfo{
    background: rgba(255,255,255,0.05);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
}

.userConfirmed{
    display: flex;
    align-items: center;

    svg{
        color: $confirm;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.userNotConfirmed{
    display: flex;
    align-items: center;
    
    svg{
        color: $error;
        width: 1.5rem;
        height: 1.5rem;
    }
}