@import "../../colors.module";

.menuButton {
  width: 30px;
  height: 30px;
  border: $frege-color 1px solid;
  background-color: $navbar-background-color;
  border-radius: 3px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: space-around;
  justify-content: space-around;
  color: $button-font-color;

  &:hover {
    background-color: $navbar-button-hover;
  }

  path {
    color: $frege-color;
  }
}