@use "colors.module";
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: colors.$background-color;
  color: colors.$button-font-color;
}

.ContentNav {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sideMenu {
  flex: 0 0 200px;
}

.mainContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 3px;
    background: colors.$background-color;
  }

  &::-webkit-scrollbar-thumb {
    background: colors.$main-borders-color;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: colors.$frege-color;
  }
}

.hidden {
  display: none !important;
}

.visible {
  display: block;
}

