$button-main: #151517;
$button-hover: #242426;
$button-super-light: #48484c;
$background-color: #151517;
$button-font-color: #9ba4ac;
$navbar-line-color: #28282b;
$sideMenu-background-color: $background-color;
$main-borders-color: #3b3b3f;

$navbar-background-color: #262626;
$navbar-button-color: $navbar-background-color;
$navbar-button-hover: #3b3b3f;

$frege-color: #f95858;

$hub-color: #22252a;
$widget-color: #181b1f;