$button-main: #151517;
$button-hover: #242426;
$button-super-light: #48484c;
$background-color: #151517;
$button-font-color: #d6d6d6;
$main-color: #d6d6d6;
$main-color-dimmed: #7e7e7e;
$navbar-line-color: #28282b;
$sideMenu-background-color: $background-color;
$main-borders-color: #3b3b3f;

$navbar-background-color: #151517;
$navbar-button-color: $navbar-background-color;
$navbar-button-hover: #3b3b3f;

$frege-color: #ed6464;

$hub-color: #22252a;
$widget-color: #181b1f;

$error: red;
$confirm: #64ed8d;