@import "../../../../colors.module.scss";

.refreshButton {
  background: none;
  color: $main-color;
  border: 1px $main-color solid;
  width: 30px;
  height: 30px;
  min-width: 30px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-items: center;

  svg{
    margin: auto;
    width: 80%;
    height: 100%;
  }

  &:hover {
    background: $button-super-light;
  }
}

.selectDropdown{
  background: transparent;
  color: $main-color;
  border: 1px $main-color solid;
  border-radius: 5px;
  height: 30px;
}

.selectOption{
  color: black;
}

.optionsRow{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.logsTable{
  max-width: 100%;
  border: 1px solid $main-borders-color;
  border-collapse: collapse;
}

.row{
  border: solid;
  border-width: 1px 0;
}

.cell{
  border-left: 1px solid $main-borders-color;
  padding: 0.25rem;
  max-width: 14%;
}

.rowHeader{
  border-left: 1px solid $main-borders-color;
}

.refreshOptions{
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}