@import "@/src/colors.module.scss";

.fullscreenWrapper {
  position: relative;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.optionsRow .saveButton{
  background: transparent;
  color: $main-color;
  border: 1px $main-color solid;
  padding: 0.5rem 1rem;
  width: max-content;
  height: 30px;
  margin-left: 0;
}

.selectDropdown{
  background: transparent;
  color: $main-color;
  border: 1px $main-color solid;
  border-radius: 5px;
  height: 30px;
  padding: 0rem 0.5rem;
}

.selectOption{
  color: black;
}

.optionsRow{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}