@import "../../src/colors.module.scss";
.contributorsList {
    ul {
        margin-bottom:30px;
        border-top:1px solid $main-color;
        padding-top: 15px;
        list-style-type: none;
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    }

    .year {
        margin-top: 15px;
    }
}


